body {
    background-color: #CFE8EE;
    font-family: "Nerko One", cursive;
  }
  
  h1 {
    color: #6DABED;
  }
  
  h2 {
    color: #6DABED;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #EFA0E8;
  }
  
  li {
    margin-bottom: 15px;
    color: #6D83ED;
  }
  