.baskervville-sc-regular {
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
}

.first-color {
    color: #B4D948;
}

.second-color {
    color: #52D95C;
}

.third-color {
    color: #7ADA49;
}

.fourth-color {
    color: #D6D285;
}

.fifth-color {
    color: #71D99B;
}

.sixth-color {
    color: #A8D98F;
}
