h1 {
	font-family: Bangers;
	color: rgb(140, 0, 0);
	text-decoration: underline;
	margin-bottom: auto;
}

p {
	font-family: Bangers;
	color: black;
	margin-top: 10px;
}

h2 {
	font-family: Bangers;
	color: rgb(140, 0, 0);
	text-decoration: underline;
	margin-bottom: auto;
}

ul {
	font-family: Bangers;
	color: black;
	margin-top: 10px;
}

body {
	background-color: dodgerblue;
}

table {
	margin-top: 10px;
	font-family: Bangers;
	border: 6px solid red;
	background-color: rgb(255, 150, 150);
	text-align: center;
	padding: 10px;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: navy;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.headerImage {
	height: 50px;
}