{
    margin: 0;
    padding: 0;
    front-family:"Poppings", sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size:  cover;
    background-position: center;
}

.logo{
    width: 270px;
    height: 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    position: relative;
}

nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #4620d9;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition:  0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-family: "Roboto", sans-serif;
    margin-top: 20%;
    font-size: 35px;
}

.header-text h1{
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    margin-top:20px;
}
.header-text h2{
    font-family: "Roboto", sans-serif;
    font-size: 65px;
    margin-top:20px;
}
.header-text h1 span{
    color: #4620d9;
}

.header-text h2 span{
    color: #74ff54;
}

.header-text h2 span1{
    color: #f53c3c;
}
.portrait{
    flex: 0 0 150px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    top:-750px;
    right:-40px;
}

.portrait-img{
    max-width: 50%;
    height: auto;
    border-radius: 50%;
    box-shadow: 10px 10px 10px #000;
}