h1 {
  background:yellow;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h2 {
  background:purple;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  color:aqua;
  text-align: center;
}
p {
  color: grey;
  text-align: center;
}

ul {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
  color:darkblue;
}
