html{
    background-color: #4D2E5C;
}

header{
    color:red;

}

p{
    display: flex; 
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
}

#animation-canvas{
    position:absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

#static-canvas{
    position:relative;
    top: 0vh;
    left: 0vw;
    width: 99vw;
    height: 99vh;
    z-index: 1;
}